.page .header{
	border:1px solid;
	margin: 0px;
}

.page{
	border: 2px solid;
    height: 100%;
    width:100%;
    position: absolute;
    overflow: auto;
}

.box{
	width: 400px;
    height: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
 border: 2px solid;

}

.box p{
	font-size: 100px;
	color: red;
	text-align: center;
}