table{
	border-radius: 20px;
	border-collapse: collapse;
	border:solid 4px ;
	
	background: linear-gradient(to right, #CFC8C8, white);
	border-left: 2px grey solid;
	width: 50%;
}
th{
	color: lightgrey;
	background: black;
	height: 60px;
}
td{
	text-align: left;
	width:100px;
}

tr:hover{
	background:linear-gradient(to right, #F7B136, #F7EE36);
	background-attachment: fixed;
}

td:first-child p:first-letter{
	color: red;

}

td p:after{
	content: "(mln)"; 
}

th:first-child{
	background-color: black;
}

th:first-child
{
 border-radius:20px 0px 0px 0px;
}

th:last-child
{
 border-radius:0px 20px 0px 0px;
}