fieldset {
    border: none;
}

form{
	background-color: #66ccff;
	height: 400px;
    width: 350px;
}

.fields
{
	height: 80%;
    width: 80%;
	border: blue;
	border-style: solid;
	border-color:blue;
}