   
  @font-face {
    font-family: MeriadPro; /* Гарнитура шрифта */
    src: url(MyriadProRegular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: MeriadProBold; /* Гарнитура шрифта */
    src: url(MyriadProBold.ttf); /* Путь к файлу со шрифтом */
   }
   
    @font-face {
    font-family: MeriadProSemiBold; /* Гарнитура шрифта */
    src: url(MyriadProSemiBold.ttf); /* Путь к файлу со шрифтом */
   }


   .gradient {
    background: linear-gradient(to left, #94669b 5%, white 40%,white 60%, #a2679d 95%);
    height: 36px;
    padding-top: 1.1px;
   }
  
  .block-left{
	  width: 50%;
	  height:100%;
    padding: 0px;
    float:left;
  }
  
  .block-right{
	  width: 50%;
	  height:100%;
    float: right;
  }
  
  body{
    width:71.2%;
    align-items: center;
    font-family: MeriadPro;
    margin-left: 15%;
  }
  
  .name{
	  text-transform: uppercase;    
    text-align: center;
    padding-top: 2px;
    padding-right: 24px;
  }

    .name h2{    
    font-size: 63px;
    line-height: 0px;
    padding-right: 35px;    
    font-family: MeriadProBold;
    text-align: center;
    margin-top: 63px;
      }

    .name h2#surname{
      margin-top: 59px;
      margin-bottom: 59px;
      margin-right: 4px;
    } 

 .name h2 span{
    font-size: 104px;
    padding-right: 11px;
    margin-top: 0px;
    padding-top: 10px;
      }


    .name h3{
    font-weight:100;
    color: #6f156c;
    font-size: 50px;
    margin-top: 56px;
    margin-bottom: 25px;
    font-stretch:condensed;
    padding-right: 40px;
    line-height: 59px;
    font-family: MeriadPro;
    padding-top: 1px;
      }

 .name h3 span{
    font-size: 72px;
      }

  h3.purple-line{
    border-left: #76236c solid 8px;
    text-transform: uppercase;
    margin-left: 60px;
    font-size: 27px;
    padding-left: 10px;
    height: 36px;
    margin-bottom: 0px;
    font-family: MeriadProBold;
    margin-top: 20px;
  }    

  .personal-statement{
    margin-top: -5px;
    margin-bottom: 5px;
  }

    .personal-statement span.left{
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: -40px;
    margin-left: 75px;
  }

      .personal-statement span.right{
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: -40px;
    margin-left: 442px;
  }

  .personal-statement span{
    color:#76236c;
    font-size: 60px;
    margin:0px;
    width:10%;
    font-weight: 900px;
    font-family: Georgia;
  }

  .personal-statement p{
    font-size: 12px;
    margin-left: 93px;
    margin-top: -26px;
    padding-top: -5px;
    width:74%;
    padding-right: 20px;
    margin-bottom: 4.5px;
    font-family: MeriadProSemiBold;
  }

.education .purple-line{
  margin-top: -4px;
  font-size: 25px;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 12px;
}

.education div {
  width:125px;
  margin-left: 65px;
  height: 70px;
  margin-top: 0px;
  border-left: 4px solid #601c6a;
}

.education div#last-point-education {
  height: 14px;
}

.education div div{
  display: inline-block;
  width:195px;
  margin-left: 125px;
  margin-top: -21px;
  border-left: none;
}

.education div div h4{
  color: #6f156c;
  font-family: MeriadProBold;
  text-transform: uppercase;  
  font-size: 21px;
  margin: 0px;
  line-height: 18px;
  padding-left: 2px;
}

.education div div h5{
  font-family: MeriadProBold;
  margin: 0px;
  font-size: 21px;
  padding-left: 2px;

}

.education div div h6{
  font-family: MeriadProBold;
  margin: 0px;
  font-size: 12px;
  padding-left: 2px;
}

.education div p{
  margin:0;
  font-family: MeriadProBold;
  padding-left: 11px;
  margin-top: -2px;
}



/*.education div p.triangle{
width: 0;
height: 0px;
border-style: solid;
border-width:  7.5px 0 7.5px 10px;
border-color: transparent transparent transparent #76236c;
}*/

div.experience{
  margin-top: 123px;
}

div.experience h3{
  margin-top: 123px;
  font-size: 24px;
}

.experience .education div{
  border:none;
  width: 100%;
  height: 100%;
  padding-top: 2px;
  padding-left: 2px;
}

.experience .education div p{
  padding-top: 2px;
}
.experience p span{
  font-size: 14px;
}
.experience .education .purple-line{
  margin-top: 2px;
  margin-bottom: 6px;
}
div.work-together{
  height:140px;
}
.work-together h3 span{
  color: #6f156c;
}

.work-together h3{
  height: 37px;
  margin-top: 67px;
  font-size: 25px;
}

.work-together p{
  font-family: MeriadProSemiBold;
  font-size: 16px;
  margin-left: 91px;
  margin-top: 9px;
  line-height: 3.3px;
}

.work-together p span{
  font-size: 18px;
}

.available-for h3.purple-line{
  border-left: none;
  font-size: 25px;
  padding-left: 0px;
  margin-left: 50px;
  margin-top: 27px;
}

.available-for h4{
  font-family: MeriadPro;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: -11px;
  margin-left: 49px;
}

.available-for h4 span{
  color:#6f156c;
}

.available-for div{
  margin-left: 25px;

}

.available-for div{
  margin-bottom: -6px;
  margin-top: -26px;

}

.circle {
  background:#6f156c;
  border-radius: 50% ;
  width: 32px;
  height: 32px; 
  margin-top: -42px;
  clear: left;

}

.text-in-available-for{
  float: left; 
}

.text-in-available-for h4{
  font-size: 16px;
  color:#6f156c;
  margin-top: -12px;
  margin-bottom: 0px;
  margin-left:42px;
}

.text-in-available-for h5{
  font-size: 15px;
  margin-left:42px;
  margin-top: 2px;
}

.text-in-available-for:after{
  clear: left;
}

.balance{
  margin-top: 70px;
  position: relative;
}

.balance .purple-line{
  margin-left: 30px;
  padding-left: 12px;
  height: 35px;
  font-size: 24px;
  margin-top: 74px;
}

.balance .work, .happiness, .play{
    display: inline-block;
    vertical-align: top;
  }

  .balance .happiness{
  margin-left: 22px;
}

.balance .play{
  text-align: right;
  width: 180px;
}

  .balance .work, .play, .happiness h3{
  color:#6f156c;
  text-transform: uppercase;
}

.balance .play h3{
  font-size:24px;
  font-family: MeriadPro;
  margin-top: 0px;
  padding-right: 39px;
  margin-bottom: 15px;
}

.balance .happiness h3{
  font-family: MeriadProBold;
  font-size: 22px;
  margin-top: 1px;
}

.balance .work h3{
  font-size:24px;
  font-family: MeriadPro;
  margin-top: 0px;
  padding-left: 45px;
  margin-bottom: 16px;
}

.balance .work h4{
  color:#6f156c;
  font-family:MeriadProBold;
  font-size: 18px; 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 43px;
}

.balance .work p{
  font-size: 16px;
  text-transform: none;
  color:black;
  margin-top: 3px;
  padding-left: 45px;
}

.balance .play h4{
  color:#6f156c;
  font-family:MeriadProBold;
  font-size: 18px; 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 35px;
}

.balance .play p{
  font-size: 16px;
  text-transform: none;
  color:black;
  margin-top: 3px;
  padding-right: 39px;
}

/*.balance .work p:nth-child(2){
  margin-bottom: 7px;
}

.balance .work p:nth-child(4){
  margin-bottom: 5px;
}

.balance .work p:nth-child(5){
  margin-bottom: 0px;
}

.balance .work p:nth-child(6){
  margin-top: 2px;
}

.balance .play p:nth-child(1){
  margin-bottom: 18px;
}

.balance .play p:nth-child(2){
  margin-bottom: 3px;
}

.balance .play p:nth-child(3){
  margin-bottom: 2px;
}

.balance .play p:nth-child(5){
  margin-bottom: 0px;
}

.balance .play p:nth-child(6){
  margin-top: 2px;
  margin-bottom: 5px;
}

.balance .play p:nth-child(7){
  margin-top: 2px;
}*/

.img{
  clear: all;
  width:220px;
  height: 130px;
  position: absolute;
  top: 109px;
  left: 135px;
}

.big-circle{
  background:#e368df;
  border-radius: 50% ;
  width: 120px;
  height: 120px; 
  opacity: 0.3;
  margin-top: 5px;
  position: absolute;
}

.big-circle:first-child{
margin-left: 5px;
}

.big-circle:last-child{
  margin-left: 88px;
}

.img img.pc-img{
  width: 160px;
  position:absolute;
  margin-left: -35px;
  margin-top: -23px;
}


.img img.smile-img{
  width: 160px;
  position:absolute;
  margin-top: -23px;
  margin-left: -32px;
}

.happiness .vertical-line{
  position: absolute;
  border-left:1px dotted;
  margin-left: 55px;
  height: 275px;
  margin-top: -22px;
}















