.catImg{
	
	float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
	height: 300px;
	width: 250px;
	}

.centerBlock{
	width: 550px;
	background:#fff2e6;
	padding: 20px;
	border:#ffc299 solid 3px;
	margin-left:250px;
	border-radius: 30px;
}

pre{
	font-family: Verdana;
	font-size: 16px;
}

span{
	font-weight: bold;
	color:red;
	font-size: 25px;
}

.p1{
	font-family: "Times New Roman";
	font-size: 16px;
}

.p2{
	font-family: "Lucida Console";
	font-size: 16px;
}

h3{
	color:gray;
}

a:link{
	color:#8e3d00;
	text-decoration:none;
	font-family:Verdana;
}

a:hover{
	color:#ff9966;
	text-decoration:underline;
}

.smallImg{
	margin-left:80%;
}
li{
	line-height:30px;
}
body{
background-image: url(http://mir-skazki.org/images/fon_skazki.gif);
}